<link rel="preconnect" href="https://compragamer.net" />
<main class="container">
  <div class="card">
    <div class="imgBox">
      <img
        ngSrc="{{
          'https://compragamer.net/pga/imagenes_publicadas/compragamer_Imganen_general_' +
            product.imagenes[0].nombre +
            '-med.jpg'
        }}"
        width="150"
        height="120"
        priority
      />
    </div>
  
    <div class="contentBox">
      {{ product.nombre.slice(0, 18) + (product.nombre.length > 18 && "...") }}
      <h2 class="price">$ {{ product.precio | currencyChange }}</h2>
      <div *ngIf="!product.inCart" class="buy">
        <button class="btn-blue cart" (click)="addToCart()">
          Agregar al carrito
        </button>
      </div>
      <div *ngIf="product.inCart" class="buy">
        <button class="btn-blue cart-remove" (click)="removeFromCart(product)">
          Quitar del carrito
        </button>
      </div>
    </div>
  </div>
</main>


