<div class="header">
  <div class="left">
    <span>DIVISAS</span>
  </div>
  <div class="right">
    <ul class="list-menu">
      <li (click)="setCurrency('ARS', 1)">ARS</li>
      <li (click)="setCurrency('USD', 243)">USD</li>
      <li (click)="setCurrency('EUR', 261)">EUR</li>
      <li (click)="setCurrency('$U', 7)">$U</li>
      <li (click)="setCurrency('MXN', 14)">MXN</li>
      <li (click)="setCurrency('BRL', 49)">BRL</li>
      <li (click)="setCurrency('CLP', 3)">CLP</li>
    </ul>
  </div>
</div>
