
<footer class="footer-distributed">
  <div class="footer-left">
    <h3>CompraGamer<span>Ch</span></h3>

    <p class="footer-links">
      <a href="#" class="link-1">Home</a>
      <a href="#">Blog</a>
      <a href="#">Pricing</a>
      <a href="#">About</a>
      <a href="#">Faq</a>
      <a href="#">Contact</a>
    </p>

    <p class="footer-company-name">Derechos reservados © 2023</p>
  </div>

  <div class="footer-center">
    <div>
      <p><span>Av. de Mayo 1111</span> CABA, Buenos Aires</p>
    </div>

    <div>
      <p>+54 11 2345 6789</p>
    </div>

    <div>
      <p><a href="mailto:soporte@comprach.com.ar">soporte@comprach.com.ar</a></p>
    </div>
  </div>

  <div class="footer-right">
    <p class="footer-company-about">
      <span>Sobre nosotros</span>
      Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod
      convallis velit, eu auctor lacus vehicula sit amet.
    </p>

    <div class="footer-icons">
      <a href="#">Facebook</a>
      <a href="#">Twitter</a>
      <a href="#">Linkedin</a>
    </div>
  </div>
</footer>
